.contain-login {
  border-radius: 10px;
  background-color: #f2f3f1;
  padding: 20px;
  text-align: center;
  margin-top:236px ;
  
}
/*input {
	padding: 5px;
	border-radius: 10px;
	border-width: 1px;
}*/
input[type="submit"] {
  background-color: #ffa500;
}
